{% extends 'base.html' %}

{% block title %}EDIT MASTER GROUP ADMIN{% endblock %}

{% block content %}
  <div id="main_content">
		<div class="padding_mini">
			<div class="padding_mini">
				<div class="border_bottom padding_bottom">
					<div class="float_right">
						<a href="/admin_group/edit" title="Tambah"><i class="fa fa-plus fa-2x"></i></a>
						<a href="#" onClick="ViewSearch(); return false;" title="Cari"><i class="fa fa-search fa-2x"></i></a>
					</div>
					<h1>
						Edit Master Grup Admin
					</h1>
				</div>
			</div>
			
			<form autocomplete="off" id="form_data" method="post" name="form_data" onSubmit="return SubmitData(this);">
				<input id="admin_group_id" name="admin_group_id" type="hidden" value="<?php echo $data_detail['admin_group_id'];?>" />
				<div class="padding_mini">
					<div class="form_label">
						<label class="form" for="admin_group">
							Grup Admin
						</label>
						<div class="form_asterisk">
							*
						</div>
					</div>
					<div class="form_selector">
						<div class="input">
							<input autofocus class="text" id="admin_group" name="admin_group" type="text" value="{{values.data.admin_group}}" />
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="padding_mini">
					<div class="form_label">
						<label class="form">
							Akses Menu
						</label>
					</div>
					<div class="form_selector">
						
						<?php foreach ($data_master_menu as $data):?>
						<div class="padding_top">
							<strong><?php echo $data['menu'];?></strong>
						</div>
						<?php foreach ($data['data_sub_menu'] as $sub_data):?>
						<div class="padding_top">
							<input class="checkbox" id="sub_menu_id_<?php echo $sub_data['sub_menu_id'];?>" name="sub_menu_id[]" type="checkbox" value="<?php echo $sub_data['sub_menu_id'];?>"<?php echo $sub_data['checked'];?> />
							<label for="sub_menu_id_<?php echo $sub_data['sub_menu_id'];?>">
								<?php echo $sub_data['sub_menu'];?>
							</label>
						</div>
						<?php endforeach;?>
						<?php endforeach;?>
					</div>
					<div class="clear"></div>
				</div>
				<div class="padding_mini">
					<div class="border_top padding_top">
						<input class="button" id="button_save" name="button_save" type="submit" value="SIMPAN" />
						<input class="button" id="button_cancel" name="button_cancel" type="button" value="BATAL" onClick="Cancel();" />
					</div>
				</div>
			</form>
			
		</div>
	</div>
{% endblock %}


<script type="text/javascript">
{% block scriptjs %}
$(document).ready(function()
{
	
});
{% endblock %}
</script>