{% extends 'base.html' %}

{% block title %}MASTER GROUP ADMIN{% endblock %}

{% block content %}
  <div id="main_content">
		<div class="padding_mini">
			<div class="padding_mini">
				<div class="border_bottom padding_bottom">
					<div class="float_right">
						<a href="/admin_group_edit/0" title="Tambah"><i class="fa fa-plus fa-2x"></i></a>
						<a href="#" onClick="ViewSearch(); return false;" title="Cari"><i class="fa fa-search fa-2x"></i></a>
					</div>
					<h1>
						Master Grup Admin
					</h1>
				</div>
			</div>
			<div class="padding_mini" id="search">
				<div class="panel_search">
					<form autocomplete="off" id="form_search" name="form_search" onSubmit="return SubmitSearch(this);">
						<div class="padding_mini">
							<div class="form_label">
								<label class="form">
									Tanggal
								</label>
							</div>
							<div class="form_selector">
								<input class="datepicker text" id="date_1" name="date_1" type="text" value='' readonly />
								-
								<input class="datepicker text" id="date_2" name="date_2" type="text" readonly />
							</div>
							<div class="clear"></div>
						</div>
						<div class="padding_mini">
							<div class="form_label">
								<label class="form" for="admin_group">
									Grup Admin
								</label>
							</div>
							<div class="form_selector">
								<div class="input">
									<input class="text" id="admin_group" name="admin_group" type="text" />
								</div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="padding_mini">
							<div class="border_top padding_top">
								<input class="button" id="button_search" name="button_search" type="submit" value="CARI" />
								<input class="button" id="button_cancel" name="button_cancel" type="button" value="BATAL" onClick="ViewSearch();" />
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="padding_mini">
				<div class="table">
					<table border="0" cellpadding="0" cellspacing="0" class="cell-border compact data display" id="data">
						<thead>
							<tr>
								<th width="33.3%">Tanggal</th>
								<th width="33.3%">Grup Admin</th>
								<th width="5.3%">Aksi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="3">Memuat data dari server</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


<script type="text/javascript">
{% block scriptjs %}
var data_table;

function ViewSearch() {
	$('div#search').slideToggle();
}

function SubmitSearch(form) {
	$('div#search').slideToggle();
	data_table.ajax.url('/ajax_admin_group_data?' + $('form#form_search').serialize());
	data_table.draw();
	return false;
}

$(document).ready(function()
{
	data_table = $('table#data').DataTable({
		'ajax': {
			'type': 'POST',
			'url': '/ajax_admin_group_data?' + $('form#form_search').serialize()
		},
		'columns': [
			{ 'data': 'create_date' },
			{ 'data': 'admin_group' },
			{ 'data': 'action', 'className': 'center', 'sortable': false }
		],
		//'language': {
		//	'url': '<?php echo config_item('ss_datatables_language');?>'
		//},
		'pageLength': {{values.limit_table}},
		'lengthMenu': [[10, 25, 50, 100], [10, 25, 50, 100]],
		'order': [[0, 'desc']],
		'pagingType': 'full_numbers',
		'processing': true,
		'searching': false,
		'serverSide': true,
		'displayStart': {{values.offset_table}},
	});

	$('input#date_1').datepicker({
		changeMonth: true,
		changeYear: true,
		dateFormat: 'yy-mm-dd',
		yearRange: '2012:+0',
		onClose: function(selectedDate) {
			$('input#date_2').datepicker('option', 'minDate', selectedDate);
		}
	});
	
	$('input#date_2').datepicker({
		changeMonth: true,
		changeYear: true,
		dateFormat: 'yy-mm-dd',
		yearRange: '2012:+0',
		onClose: function(selectedDate) {
			$('input#date_1').datepicker('option', 'maxDate', selectedDate);
		}
	});
	console.log($("#username").val())
});
{% endblock %}
</script>