@charset "utf-8";
/* CSS Document */

html, head, body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, span, a, table, thead, tbody, tr, th, td {
	border: none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: #FFF;
	color: #420;
	font-family: "Armata", sans-serif;
	font-size: 12px;
	height: 100%;
}

a {
	color: #930;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

h1 {
	font-family: "Oswald", sans-serif;
	font-size: 1.8em;
	font-weight: normal;
}

h2 {
	font-size: 1.3em;
	font-weight: normal;
}

h3 {
	font-size: 1.2em;
	font-weight: normal;
}

h4 {
	font-size: 1.1em;
	font-weight: normal;
}

h5 {
	font-size: 1em;
	font-weight: normal;
}

h6 {
	font-size: 0.9em;;
	font-weight: normal;
}

img {
	vertical-align: middle;
}

ol, ul {
	padding-left: 30px;
}

/* CONTAINER */

div#erp_logistic_wrp {
	min-height: 100%;
	min-width: 320px;
	position: relative;
	background: #a0d7dc36;
}

/* HEADER */

div#header {
	background-color: #FFF;
}

/* MAIN CONTENT */

div#main_content {
	padding-bottom: 35px;
}

/* FOOTER */

div#footer {
	background-color: #2C3E50;
	bottom: 0;
	color: #FFF;
	height: 25px;
	left: 0;
	position: absolute;
	width: 100%;
}

div#footer div.copyright {
	font-size: 0.9em;
	line-height: 25px;
	overflow: hidden;
	padding: 0 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* TEMPLATE */

div.row {
	position: relative;
}

div.row:after {
	clear: both;
	content: '';
	display: block;
	height: 0;
}

div#tab{
	background:#f1f5f4 !important;
}