@charset "utf-8";
/* CSS Document */

/* SEARCH */

div#search {
	display: none;
}

/* DIV */

div.align_center {
	text-align: center;
}

div.align_right {
	text-align: right;
}

div.bigger {
	font-size: 1.2em;
}

div.border {
	border: #BDC3C7 1px solid;
}

div.border_bottom {
	border-bottom: #BDC3C7 1px solid;
}

div.border_top {
	border-top: #BDC3C7 1px solid;
}

div.clear {
	clear: both;
}

div.column_half {
	float: left;
	width: 50%;
}

div.column_product_variant {
	margin-right: 100px;
}

div.column_product_variant_button {
	position: absolute;
	right: 0;
	top: 10px;
	width: 90px;
}

div.column_sign_in {
	padding: 10% 0;
}

div.float_left {
	float: left;
}

div.float_right {
	float: right;
}

div.form_asterisk {
	color: #F00;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0;
	top: 8px;
}

div.form_label {
	float: left;
	position: relative;
	width: 240px;
}

div.form_selector {
	margin-left: 250px;
}

div.home_content {
	padding: 150px 0;
	text-align: center;
}

div.input {
	padding-right: 10px;
}

div.message_box {
	background-position: 10px center;
	background-repeat: no-repeat;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	margin: 5px;
	padding: 10px;
}

div.message_box_fail {
	background-color: #FDD;
	border-color: #C00;
}

div.message_box_success {
	background-color: #DFD;
	border-color: #0C0;
}

div.none {
	display: none;
}

div.padding {
	padding: 10px;
}

div.padding_bottom {
	padding-bottom: 10px;
}

div.padding_left {
	padding-left: 10px;
}

div.padding_left_mini {
	padding-left: 5px;
}

div.padding_mini {
	padding: 5px;
}

div.padding_right {
	padding-right: 10px;
}

div.padding_right_mini {
	padding-right: 5px;
}

div.padding_top {
	padding-top: 10px;
}

div.padding_top_mini {
	padding-top: 5px;
}

div.panel_search {
	background-color: #ECF0F1;
	padding: 5px;
}

div.photo_header {
	background-color: #EEE;
	border-bottom: #BDC3C7 1px solid;
	padding: 5px;
	width: 190px;
}

div.photo_position {
	float: left;
	padding: 10px 10px 0 0;
	text-align: center;
}

div.photo_preview {
	background-color: #FFF;
	display: table;
	height: 200px;
	width: 200px;
}

div.photo_preview_cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

div.sign_in_box {
	background-color: #ECF0F1;
	margin: 0 auto;
	overflow: hidden;
	width: 298px;
}

div.sign_in_title {
	padding: 10px;
	text-align: center;
}

div.table {
	overflow-x: auto;
	position: relative;
}

/* A */

a.button {
	background-color: #E3F1FA;
	border: #AED0EA 1px solid;
	border-radius: 5px;
	color: #2779AA;
	display: inline-block;
	margin: 1px 0;
	padding: 1px 5px;
}

a.button:hover {
	background-color: #EEF6FC;
	border: #74B2E2 1px solid;
	color: #0070A3;
	text-decoration: none;
}

a.button_off {
	background-color: #FDD;
	border: #DBB 1px solid;
	color: #B99;
}

a.button_off:hover {
	background-color: #FEE;
	border: #B99 1px solid;
	color: #977;
}

a.button_on {
	background-color: #DFD;
	border: #BDB 1px solid;
	color: #9B9;
}

a.button_on:hover {
	background-color: #EFE;
	border: #9B9 1px solid;
	color: #797;
}

/* IMAGE */

img.preview {
	max-height: 160px;
	max-width: 160px;
}

/* LABEL */

label.form {
	display: block;
	line-height: 20px;
	padding: 8px 0;
}

label.form_sign_in {
	display: block;
	line-height: 20px;
	padding: 8px 0;
}

/* P */

p.padding_top_mini {
	padding-top: 5px;
}

/* SPAN */

span.blue {
	color: #00F;
}

span.green {
	color: #0F0;
}

span.red {
	color: #F00;
}

span.streak {
	color: #F00;
	text-decoration: line-through;
}

/* TABLE */

table.guide {
	text-align: center;
	width: 100%;
}

table.guide td {
	border: none !important;
}

table.order_footer {
	width: 100%;
}

table.order_footer td {
	border-left: #BDC3C7 1px solid;
	text-align: left;
	vertical-align: top;
	width: 33.3%;
}

table.order_footer td.first {
	border-left: none;
}

table.order_footer p.order_footer_title {
	text-decoration: underline;
}

/* UL */

ul.list {
	list-style: none;
	padding: 0;
}

ul.list li {
	border-bottom: #BDC3C7 1px solid;
	position: relative;
}

ul.list li.padding_mini {
	padding: 5px;
}

ul.list li.list_header {
	background-color: #630;
	background-image: linear-gradient(bottom, #630 0%, #963 100%);
	background-image: -o-linear-gradient(bottom, #630 0%, #963 100%);
	background-image: -moz-linear-gradient(bottom, #630 0%, #963 100%);
	background-image: -webkit-linear-gradient(bottom, #630 0%, #963 100%);
	background-image: -ms-linear-gradient(bottom, #630 0%, #963 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #630),
		color-stop(1, #963)
	);
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
}

ul.list div.order_column_image {
	float: left;
}

ul.list div.order_column_price {
	float: left;
	width: 35%;
}

ul.list div.order_column_product {
	margin-left: 210px;
	margin-right: 290px;
}

ul.list div.order_column_quantity {
	float: left;
	width: 25%;
}

ul.list div.order_column_sub_total {
	float: left;
	width: 40%;
}

ul.list div.order_column_transaction {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 290px;
}

/* JQUERY UI */

.ui-button {
	font-family: "Armata", sans-serif;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: "Armata", sans-serif;
}

.background, ul.background ul {
	background-color: #fff;
	color: #FFF;
}

a.background:hover, button.background:hover, ul.background a:hover {
	background-color: #6cd7de;
	color: #FFF;
}
