<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="www.frebsite.nl" />
		<meta name="viewport" content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no" />

		<title>mmenu.js demo</title>

		<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/page-mmenu.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mmenu.css') }}">

		<style>
			:root {
				--mm-sidebar-expanded-size: 300px;
			}
			.mm-menu {
				--mm-listitem-size: 50px;
				--mm-navbar-size: 50px;
			}
			.header{
				line-height:unset;
			}

			@media (min-width: 992px) {
				.header a {
					display: none;
				}
			}

			.mm-navbar_tabs span {
				display: inline-block;
				margin-left: 8px;
			}
			@media (max-width: 450px) {
				.mm-navbar_tabs span {
					display: none;
				}
			}
		</style>

	</head>
	<body>
		<div id="page">
			<div class="header" style="text-align: left;">
				<a href="#menu"><span></span></a>
				<span style="line-height: 14px !important">
					WD-MS<br>Warehouse & Distribution Management System
				</span>
			</div>
			<div class="content">
				<p><strong>This is an advanced demo.</strong><br />
					Click the menu icon to open the menu.</p>
			</div>
			<nav id="menu">
				<div id="panel-menu">
					<ul>
						{% for items in values if items -%}
							{% if items.sub_menu|length > 1 -%}
							<li>
								<span>{{items.menu}}</span>
								<ul>
									{% for item in items.sub_menu if item.sub_menu -%}
										<li><a href="#/">{{item.sub_menu}}</a></li>
									{%- endfor %}
								</ul>
							</li>
							{% elif items.menu -%}
								<li><a href="#/">{{items.menu}}</a></li>
							{%- endif %}
						{%- endfor %}

					</ul>
				</div>

				<div id="panel-account">
					<ul>
						<li><a href="#/">My profile</a></li>
						<li><a href="#/">Privacy settings</a></li>
						<li><a href="#/">Activity</a></li>
						<li><a href="/SignOut">Sign out</a></li>
					</ul>
				</div>

			</nav>
		</div>

		<!-- mmenu scripts -->
		<script src="{{ url_for('static', filename='js/mmenu.polyfills.js') }}"></script>
		<script src="{{ url_for('static', filename='js/mmenu.js') }}"></script>
		<script>
			new Mmenu(
				document.querySelector('#menu'),
				{
					extensions	: [ 'theme-dark', 'shadow-page' ],
					setSelected	: true,
					counters	: true,
					searchfield : {
						placeholder		: 'Search menu items'
					},
					iconbar		: {
						use 		: '(min-width: 450px)',
						top 		: [
							'<a href="#/"><span class="fa fa-home"></span></a>'
						],
						bottom 		: [
							'<a href="#/"><span class="fa fa-twitter"></span></a>',
							'<a href="#/"><span class="fa fa-facebook"></span></a>',
							'<a href="#/"><span class="fa fa-youtube"></span></a>'
						]
					},
					sidebar		: {
						collapsed		: {
							use 			: '(min-width: 450px)',
							hideNavbar		: false
						},
						expanded		: {
							use 			: '(min-width: 992px)'
						}
					},
					navbars		: [
						{
							content		: [ 'searchfield' ]
						}, {
							type		: 'tabs',
							content		: [
								'<a href="#panel-menu"><i class="fa fa-bars"></i> <span>Menu</span></a>',
								'<a href="#panel-account"><i class="fa fa-user"></i> <span>Account</span></a>'
							]
						}, {
							content		: [ 'prev', 'breadcrumbs', 'close' ]
						}/*, {
							position	: 'bottom',
							content		: [ '<a href="http://mmenu.frebsite.nl/wordpress-plugin" target="_blank">WordPress plugin</a>' ]
						}*/
					]
				}, {
					searchfield : {
						clear 		: true
					},
					navbars		: {
						breadcrumbs	: {
							removeFirst	: true
						}
					}
				}
			);

			document.addEventListener( 'click', function( evnt ) {
				var anchor = evnt.target.closest( 'a[href^="#/"]' );
				if ( anchor ) {
					alert(anchor);
					evnt.preventDefault();
				}
			});
		</script>
	</body>
</html>
