<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="www.frebsite.nl" />
		<meta name="viewport" content="width=device-width minimum-scale=1.0 maximum-scale=1.0 user-scalable=no" />

		<title>mmenu.js demo</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/page-mmenu.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mmenu.css') }}">

	</head>
	<body>
		<div id="page">
			<div class="header">
				<a href="#menu"><span></span></a>
				Demo
			</div>
			<div class="content">
				<p><strong>This is a demo.</strong><br />
					Click the menu icon to open the menu.</p>
			</div>
			<nav id="menu">
				<ul>
					<li><a href="#">Home</a></li>
					<li><span>About us</span>
						<ul>
							<li><a href="#about/history">History</a></li>
							<li><span>The team</span>
								<ul>
									<li><a href="#about/team/management">Management</a></li>
									<li><a href="#about/team/sales">Sales</a></li>
									<li><a href="#about/team/development">Development</a></li>
								</ul>
							</li>
							<li><a href="#about/address">Our address</a></li>
						</ul>
					</li>
					<li><a href="#contact">Contact</a></li>

					<li class="Divider">Other demos</li>
					<li><a href="advanced.html">Advanced demo</a></li>
					<li><a href="onepage.html">One page demo</a></li>
				</ul>
			</nav>
		</div>

		<!-- mmenu scripts -->
		<script src="{{ url_for('static', filename='js/mmenu.polyfills.js') }}"></script>
		<script src="{{ url_for('static', filename='js/mmenu.js') }}"></script>
		<script>
			new Mmenu( document.querySelector( '#menu' ));

			document.addEventListener( 'click', function( evnt ) {
				var anchor = evnt.target.closest( 'a[href^="#/"]' );
				if ( anchor ) {
					alert('Thank you for clicking, but that\'s a demo link.');
					evnt.preventDefault();
				}
			});
		</script>
	</body>
</html>
