{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <p>
  	BERANDA
  </p>
{% endblock %}


<script type="text/javascript">
{% block scriptjs %}
 $(document).ready(function() {
    console.log($("#username").val())
  });
{% endblock %}
</script>