<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SIGN IN APP</title>
 
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
		
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    
  </head>
 
  <body>
 
    <div class="container">
 
      <div class="jumbotron">
        <h1>SIGN IN</h1>
        <form class="form-signin">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button" style="width:40%;float:left;padding:0px;">Signin</button>
        <button id="btnReset" class="btn btn-lg btn-warning btn-block" type="reset" style="width:40%;float:left;padding:0px;margin-top:0px;">Reset</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company <script type="text/javascript">var currentdate = new Date(); document.write(currentdate.getFullYear());</script></p>
      </footer>
 
    </div>
  </body>
  
<script type="text/javascript">
$(function() {
    $('#btnSignUp').click(function() {
 
        $.ajax({
            url: '/signIn',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                //console.log(response);
				var json = $.parseJSON(response);
				if (json.message == true){
					window.location.href = "/home";
				}else{
					alert("wrong authentication");
				}
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>
</html>